{% load static %} {% for lp in licensePlates %}
<div
  class="latest"
  onclick="openFullImage('{% static lp.fullimage %}', '{{lp.number_plate_number}}')"
>
  <span id="latestCount" style="display: none;">{{count}}</span>
  <div class="snap">
    <img src="{% static lp.image %}" width="100%" height="150px" style="border: 2px solid black;"/>
  </div>
  <div class="output" style="color:black;font-family:helvetica;border: 2px solid black;font-size:23px"><b>{{lp.number_plate_number}}</b></div>
</div>
{% endfor %}
