body {
  color: #404040;
  font: 400 12px/20px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  flex: 2;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding: 20px;
}

.map {
  flex: 5;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #818181;
  font-weight: 500;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #111;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 0;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Marker tweaks */

.mapboxgl-popup {
  padding-bottom: 50px;
}
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #818181;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #818181;
}

.form-container {
  width: 100%;
  height: 30%;
  border-style: solid;
  padding: 5px;
}

.form-flex-container {
  display: flex;
}

.form-flex-container input,
select {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  margin-right: 40px;
  margin-left: 10px;
}

.form-flex-element {
  padding: 15px 9.2%;
  font-size: large;
  width: 350%;
}
/* whats this for? */
.input {
  width: 200px !important; 
  height: 36px !important;
  border-radius: 5px !important;
  margin-left: 10px;
}

.search-container {
  text-align: center;
}

.search-container input {
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  font-size: 18px;
  background-color: #070606;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 30px;
}

.table-button-container {
  height: 70%;
  width: 100%;
}

.table-container {
  clear: both;
  height: 87%;
  width: 100%;
}

.table-container table {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  font-size: large;
}

.table-container td {
  width: 15%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.fixed-header {
  display: table;
  overflow: auto;
  width: 100%;
  background-color: black;
  color: white;
}

.fixed-header tr {
  position: relative;
}

.fixed-header th {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: normal;
  font-weight: bold;
  text-align: center;
  width: 20%;
}

.scroll-content {
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
}
.scroll-content::-webkit-scrollbar {
    width: 18px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    outline: 2px solid black;
}
.scroll-content::-webkit-scrollbar-thumb {
    background: rgba(80,80,80,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.button-flex-container {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  height: 13%;
}

.button-flex-container button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 190px;
  height: 50px; 
  margin: 4px 2px;
  cursor: pointer; 
}

.map-popup {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 80%;
  z-index: 10000;
}
.map-popup .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.map-popup div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popup-close-button {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popup-close-button:hover {
  background-color: #ccc;
}
